.github/
.idea/
build/
ci/
configs/
docs/
examples/
scripts/
src/
tests/
www/
tmp/
*.iml
.babelrc
.editorconfig
.eslintrc
.npmignore
.prettierrc
.rpt2_cache
azure-pipelines.yml
jest.config.js
karma.js
karma.conf.js
rollup.config.ts
tsconfig.json
